[submodule "vendors/claude-agent-sdk-rs"]
	path = vendors/claude-agent-sdk-rs
	url = https://github.com/tyrchen/claude-agent-sdk-rs.git
[submodule "vendors/code-agent-sdk"]
	path = vendors/code-agent-sdk
	url = git@github.com:chenlhgavin/code-agent-sdk.git
